//aside
.home-page {
  .aside {
    margin-top: -300px;
    margin-bottom: -100px;
    @media only screen and (max-width: 992px) {
      margin-top: -100px;
      margin-bottom: 0;
    }
    @media only screen and (max-width: 768px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

//widget
.widget {
  padding: 35px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: $shadow;
  &:last-child {
    margin-bottom: 0;
  }
  @media only screen and (max-width: 992px) {
    padding: 35px 25px;
  }
  .widget-title {
    font-size: 25px;
    line-height: 30px;
    color: $text;
  }
  article {
    margin-bottom: 20px;
  }
  article.border-above {
    padding-top: 10px;
  }
  .widget-image {
    width: 100%;
    height: auto;
  }
}
.widget.wrap-slider-w-mobile {
  @media only screen and (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    .widget-title {
      margin-right: 30px;
      margin-left: 30px;
    }
  }
}

.widget.no-shadow-mobile {
  @media only screen and (max-width: 768px) {

    box-shadow: none;
  }
}

.widget.no-bg-mobile {
  @media only screen and (max-width: 768px) {
    background: none;
  }
}