h1 {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 500;
}

h2 {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 500;
  color: $text;
  margin-bottom: 20px;
}

h2.header-section {
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: $text;
  margin-bottom: 20px;

}

p {
  margin-bottom: 20px;
  color: $text;
}

.bold {
  font-weight: 500;
}

.small-text {
  font-size: 14px;
}

.border-above {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 94px;
    height: 2px;
    background-color: $accent;
  }
}

.border-under {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 10px;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 94px;
    height: 2px;
    background: #88C4C5;
  }
}

.date-post {
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 12px;
  letter-spacing: 0.18em;
  margin-bottom: 20px;
  span {
    font-weight: 800;
    font-size: 14px;
    letter-spacing: normal;
  }
}


